---
- name: Deploy PHP Project
  hosts: test_servers
  become: yes
  
  tasks:
    - name: Install required packages
      apt:
        name:
          - git
          - rsync
          - php-cli
          - curl
          - unzip
        state: present
        update_cache: yes

    - name: Check if Composer is installed
      stat:
        path: /usr/local/bin/composer
      register: composer_bin

    - name: Download Composer installer
      get_url:
        url: https://getcomposer.org/installer
        dest: /tmp/composer-setup.php
        mode: '0755'
      when: not composer_bin.stat.exists

    - name: Install Composer
      shell: php /tmp/composer-setup.php --install-dir=/usr/local/bin --filename=composer
      when: not composer_bin.stat.exists

    - name: Remove Composer installer
      file:
        path: /tmp/composer-setup.php
        state: absent
      when: not composer_bin.stat.exists

    - name: Remove old project directory
      file:
        path: /tmp/phpproject
        state: absent

    - name: Clone PHP project
      git:
        repo: https://github.com/trulyno/php-site-with-unit-tests
        dest: /tmp/phpproject
        version: main
        force: yes

    - name: Install Composer dependencies
      shell: cd /tmp/phpproject && /usr/local/bin/composer install --no-dev --no-interaction --prefer-dist --optimize-autoloader
      args:
        executable: /bin/bash

    - name: Ensure web directory exists
      file:
        path: /var/www/html/phpproject
        state: directory
        owner: www-data
        group: www-data
        mode: '0755'

    - name: Sync project files to web directory
      synchronize:
        src: /tmp/phpproject/
        dest: /var/www/html/phpproject/
        delete: yes
        recursive: yes